@import "tailwindcss";

@theme {
  --color-bg: #0b0b0b;
  --color-card: #121317;
  --color-line: #2a2a2e;
  --color-accent: #c6ff3d;
  --font-display: var(--font-oswald);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  color: #f2f2f2;
}